*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper{
    overflow: hidden;
}
.aside_menu{
    width: 10%;
    max-width: 85px;
    height: 100vh;
    box-shadow: 2px 0 3px 0 rgb(0 0 0 / 10%);;
    background-color: #353b48;
    z-index: 1;
}
.d_flex{
    display: flex;
}
.w100{
    width: 100%;
}
.cont_logo{
    height: 80px;
    padding: .8em;
}
.cont_menu{
    height: calc(100vh - 80px);
    align-items: center;
}
.list_menu{
    margin-top: -10em;
}
.list_menu li{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;    
    color: rgba(255,255,255,.8);
    height: 85px;
    padding: 15px 0;
    cursor: pointer;
    transition: all ease .4s;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
    align-items: center;
    justify-content: center;
    gap: .6em;
}
.list_menu li img{
    max-width: 35px;
}
.list_menu li p{
    font-size: .8em;
}
.list_menu li:hover{
    background-color: #1C1C1C;
    color: #ffff;
}
.content{
    width: 100%;
    height: 100vh;
}
.header_content{    
    height: 80px;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.3);
    justify-content: end;
    padding: 2em 3em;
}
.cont_info_user{
    align-items: center;
    gap: 1em;
}
.cont_info_user p{
    text-align: end;
    font-size: 1em;
    color: #353b48;
    font-weight: bold;
}
.cont_info_user p span{
    color: rgb(66 179 245) !important;
}
.cont_info_user img{
    height: 45px;
}
.body_content{
    height: calc(100vh - 80px);
    padding: 2em;
}